## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation-Copy1.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,lucapa,AO,65.16,overcast clouds,-8.4192,20.7447,Residência Ulisses Dos Santos
1,3,kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,5,umm lajj,SA,84.07,clear sky,25.0213,37.2685,Moon light Furnished Units
3,6,rikitea,PF,76.57,clear sky,-23.1203,-134.9692,People ThankYou
4,10,acari,PE,73.85,scattered clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
vacation_locations = vacation_df[["Lat", "Lng"]]
vacation_locations.head()

       Lat       Lng
0  -8.4192   20.7447
1  22.0752 -159.3190
2  25.0213   37.2685
3 -23.1203 -134.9692
4 -15.4311  -74.6158

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(vacation_locations, info_box_content=vacation_info)

heat_layer = gmaps.heatmap_layer(vacation_locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "san vicente")]
vacation_end = vacation_df.loc  [(vacation_df["City"] == "san vicente")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "trelew")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "viedma")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "dolores")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
186,408,san vicente,AR,68.81,clear sky,-26.6167,-54.1333,Complejo Turístico Farelluk

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-26.6167, -54.1333)
(-26.6167, -54.1333)
(-43.249, -65.3051)
(-40.8135, -62.9967)
(-36.3132, -57.6792)

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Create the map
fig = gmaps.figure()

# List the waypoints (lat,lng)
waypoints = [stop1, stop2, stop3]

# Create the layer
layer = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING')

#Add the layer
fig.add_layer(layer)

# Display
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,408,san vicente,AR,68.81,clear sky,-26.6167,-54.1333,Complejo Turístico Farelluk
1,446,trelew,AR,65.17,clear sky,-43.2490,-65.3051,Hotel Touring Club
2,360,viedma,AR,68.63,clear sky,-40.8135,-62.9967,Hotel Cristal
3,227,dolores,AR,71.71,scattered clouds,-36.3132,-57.6792,Apart Hotel - Arianos

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))